{{!-- This is recipe handlebars --}}
<section class="light-bg">
   <div class="pv5 ph3 mw8 center">
      {{!-- show title of recipe --}}
      <div class="flex flex-column justify-center items-center">
         <div>
            <h2 class="f2-l f3 fw6 mb2 tc tc-pink-2">{{title}}</h2>
            {{!-- show user who created recipe --}}
            {{!-- show date created --}}
            <p class="tc">Created by </br> {{user.username}} on {{format_date date_created}}</p>
         </div>

         {{!-- show image --}}
         <div class="mw6 mt4">
            <img class="br3" src="{{image_url}}" alt="recipe image">
         </div>

         <div class="w-50 pl3 pt3">
            {{!-- show ingredients --}}
            <div class="f4 b tc">Ingredients: </div>
            <p class="f4 mt2 tc">{{ingredients}}</p>
            {{!-- show instructions --}}
            <div class="mt4 f4 b tc">Instructions: </div>
            <p class="f4 mt2 tc instructions">{{instructions}}</p>
         </div>
      </div>
   </div>
</section>


<section class="pv5 ph4 mw7 center">
   <h3 class="f3">Comments</h3>
   {{!-- show comments if there are comments --}}
   <div class="flex flex-column mt3">
      <form id="newcommentForm" class="mb4">
         <div class="flex flex-column tr">
            <input type="hidden" name="recipe-id" value="{{id}}" />
            <label for="comment-body"></label>
            <textarea class="grow input-reset br2 b--black-20 pa3 w-100" id="new-body"
               name="comment-body" placeholder="Add a new comment..."></textarea>
            <button class="mt3 br2 mb2 mw4 primary-bg" style="padding: 12px 0;"
               type="submit">Submit</button>
         </div>
      </form>

      {{#if comments}}
   
      {{#each comments}}
      <div class="pv3 bt b--light-gray">
         <div class="f4 b">
            {{user.username}} <span class="dib f6 fw3 pl2">{{format_date date_created}}</span>
         </div>
         <p class="mt2">{{comment}} </p>
      </div>
   
      {{/each}}
      {{!-- if post has no comments post no comments --}}
      {{else}}
      <div class="f4">No comments yet... Be the first to add one!</div>
      {{/if}}
   </div>
</section>

<script src="/js/comment.js"></script>